/exp-1/node_modules
/exp-2/node_modules
/exp-1/package-lock.json
/exp-2/package-lock.json
/exp-1/uploads
/mongo1/node_modules
/exam-1/node_modules
/exam-1/uploads
/exam-2/node_modules
/exam-2/uploads
/chat-ex/node_modules