<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> POST Form</h1>
    <form method="post">
        Fname<input name="fname" value="<%= data.fname %>"><br>
        Lname<input name="lname" value="<%= data.lname %>"><br>
        <input type="submit">
    </form>
    <% if(typeof errors !== 'undefined') { %>
    <% if(errors.length){ %>
        <h3>Errors</h3>
        <% errors.forEach(element => { %>
            <p style="color:red;"><%= element.msg %></p>
        <%}); %>
        <% } %>
        <% } %>

</body>
</html>